doctype html
html
    head
        title=title
        meta(charset='utf-8')
        link(rel='stylesheet',href='/css/bootstrap/bootstrap.min.css')
        link(rel='stylesheet',href='/css/mine.css')
        script(src='/js/jquery/jquery-3.2.1.min.js')
        script(src='/js/bootstrap/bootstrap.min.js')
        script(src='/js/anjular/angular.min.js')
        script(src='/js/lodash-4.17.4/lodash.js')
    body
        p
            ul.nav.nav-pills
                -if (!download)
                    li.active
                        a(href='/index') 授权
                    li
                        a(href='/download') 下载
                -else
                    li
                        a(href='/index') 授权
                    li.active
                        a(href='/download') 下载
        block content
