doctype html
html
    head
        title = title
        meta(charset='utf-8')
        link(rel='stylesheet',href='/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/mine.css')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
    body
        p
            ul.nav.nav-pills
                -if (!download)
                    li.active
                        a(href='#') 授权
                -else
                    li
                        a(href='#') 授权
                -if (download)
                    li.active
                        a(href='#') 下载
                -else
                    li
                        a(href='#') 下载
        block content
